# Object files
*.o

# Libraries
*.lib
*.a

# Executables
*.exe
*.out
so_long

# Debug files
*.dSYM/

# MLX build directory
mlx_mac/
mlx_linux/
mlx_mac_backup/

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# IDE specific
.vscode/
.idea/

# New ignore rules
generate_textures.py

# Build files
obj/

Note-solong.md
makefile-explain.md
generate_textures.py