# Object files
*.o

# Libraries
*.lib
*.a

# Executables
*.exe
*.out
so_long

# Debug files
*.dSYM/

# MLX build directory
mlx_mac/build/
mlx_linux/
mlx_mac_backup/

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# IDE specific
.vscode/
.idea/
